@charset "utf-8";
@import "reset.css";

html[data-theme='dark'] {
    --bg: #202124;
    --bg-1: #202124;
    --bg-2: rgba(255, 255, 255, .15);
    --bg-3: rgba(255, 255, 255, .15);
    --bg-4: #2F323C;
    --bg-5: #2F323C;
    --bg-6: #3d3d47;
    --gray: #98989f;
    --green: #56b282;
    --red: #ff6b5a;
    --red-1: #ff6b5a;
    --orange: #f39800;
    --purple: #a08eee;
    --grey: #757575;
    --card-bg: #292A2D;
    --card1-bg: #202124;
    --card2-bg: #202124;
    --card3-bg: rgba(32, 33, 36, .4);
    --card4-bg: #292A2D;
    --sidebar-bg: #202124;
    --progress-grey: #65758529;
    --hover-bg: #454548;
    --text-bar: rgb(226, 226, 226, .9);
    --text: rgb(226, 226, 226, .9);
    --text-1: rgb(226, 226, 226, .9);
    --text-2: rgb(226, 226, 226, .9);
    --text-3: rgb(226, 226, 226, .9);
    --text-4: #7e7e7e;
    --text-5: #343544;
    --text-6: #ffffff;
    --btn-primary: #6dae85;  /* #4ca977 */
    --border: #2F3134;
    --border-2: #2F3134;
    --border-3: #6a6a6a;
    --border-4: #3c3f44;
    --border-5: #2F3134;
    --border-6: #2F3134;
    --border-7: rgba(255, 255, 255, .15);
    --shadow: rgba(40, 44, 46, .6);
    --shadow-2: color-mix(in srgb, rgb(0,0,0) 30%, transparent) 0 1px 2px 0, color-mix(in srgb, rgb(0,0,0) 15%,transparent) 0 2px 6px 2px;
    --shadow-3: 0px 2px 10px 0 #000;
    --position-1: -37px -73px;
    --position-2: -65px -73px;
    --opacity: 0.7;
    --opacity-1: 0.9;
    --nav-bg: #292A2D;
    --active-bg: #292A2D;
    --scrollbar: #454548;
    --layer-title: #202124;
    --tab-bg: #343A3E;
    --sun-color: rgba(255, 255, 255, .5);
    --moon-color: #3d3d47;
    --theme-core-left: 26px;
    --linear-gradient: linear-gradient(97deg,#2f323c 0%, #3e6d79 92%);
    --theme-text-content: '切换至浅色模式';
}

:root {
    --bg: #e7e7e7;
    --bg-1: #484f52;
    --bg-2: rgba(0, 0, 0, .6);
    --bg-3: rgba(0, 0, 0, .1);
    --bg-4: #f9f0dd;
    --bg-5: #fdf0ed;
    --bg-6: -webkit-linear-gradient(90deg, rgb(224, 224, 224) 0%, rgb(170, 170, 170) 170%) rgb(242, 242, 242);
    --gray: #cccccc;
    --green: #56b282;
    --red: #f12828;
    --red-1: #f16d86;
    --orange: #f39800;
    --purple: #a08eee;
    --grey: #b0b0b0;
    --card-bg: #ffffff;
    --card1-bg: #ffffff;
    --card2-bg: #f8f8f8;
    --card3-bg: #fafcfb;
    --card4-bg: #fafcfb;
    --sidebar-bg: #f4f4f4;
    --progress-grey: #e7e7e7;
    --hover-bg: #f2f2f2;
    --text-bar: #e6e6e6;
    --text: #ffffff;
    --text-1: #343544;
    --text-2: #666666;
    --text-3: #000000;
    --text-4: #c9c9c9;
    --text-5: #ffffff;
    --text-6: #1A3466;
    --btn-primary: #6dae85;
    --border: #ebebeb;
    --border-2: #cdcdcd;
    --border-3: #cdcdcd;
    --border-4: #ebebeb;
    --border-5: #e3e3e3;
    --border-6: #afceba;
    --border-7: #343544;
    --shadow: rgba(0, 0, 0, 0.12);
    --shadow-2: 0px 0px 10px #000000;
    --shadow-3: none;
    --position-1: -36px -16px;
    --position-2: -65px -16px;
    --opacity: 0.85;
    --opacity-1: 1;
    --nav-bg: #323639;
    --active-bg: #f2f2f2;
    --scrollbar: #cccccc;
    --layer-title: #343544;
    --tab-bg: rgba(109, 174, 133, .1);
    --sun-color: #3d3d47;
    --moon-color: rgba(255, 255, 255, .5);
    --theme-core-left: 2px;
    --linear-gradient: linear-gradient(to right, #E3F2F8, #03A4DA);
    --theme-text-content: '切换至深色模式';
}


/*margin*/
.MT1{margin-top:1px;}
.MT5{margin-top:5px;}
/* .MT10{margin-top:10px;} */
.MT15{margin-top:15px;}
.MT20{margin-top:20px;}
.MT30{margin-top:30px;}
.MT50{margin-top:50px;}
.MB1{margin-bottom:1px;}
.MB2{margin-bottom:2px;}
.MB3{margin-bottom:3px;}
.MB5{margin-bottom:5px;}
.MB10{margin-bottom:10px;}
.MB15{margin-bottom:15px;}
.MB20{margin-bottom:20px;}
.MB25{margin-bottom:25px;}
.MB30{margin-bottom:30px;}
.MR5{margin-right:5px;}
.MR10{margin-right:10px;}
.MR20{margin-right:20px;}
.ML5{margin-left:5px;}
.ML10{margin-left:10px;}
.ML15{margin-left:15px;}
.M10{margin:10px;}
.M15{margin:15px;}
.M20{margin:20px;}
.M25{margin:25px;}
.M30{margin:30px;}
.M50{margin:50px;}
.M100{margin:100px;}
.MLR10{margin-left:10px;margin-right:10px;}
.MLR25{margin-left:25px;margin-right:25px;}
.MLR50{margin-left:50px;margin-right:50px;}
.M0{margin:0;}
.MT0{margin-top:0;}
/*padding*/
.PB5{padding-bottom:5px;}
.PB10{padding-bottom:10px;}
.PB15{padding-bottom:15px;}
.PT5{padding-top:5px;}
.PT10{padding-top:10px;}
.PT15{padding-top: 15px;}
.PT20{padding-top:20px;}
.PT30{padding-top:30px;}
.PL5{padding-left: 5px;}
.PL10{padding-left: 10px;}
.PL15{padding-left: 15px;}
.PL20{padding-left: 20px;}
.PL25{padding-left: 25px;}
.PL35{padding-left: 35px;}
.PR5{padding-right: 5px;}
.PR10{padding-right: 10px;}
.PR20{padding-right: 20px;}
.P1{padding:1px;}
.P2{padding:2px;}
.P5{padding:5px;}
.P10{padding: 10px;}
.P15{padding: 15px;}
.P20{padding: 20px;}
.P25{padding: 25px;}
.P30{padding: 30px;}
.P0{padding:0;}
.PT0{padding-top:0;}
.PB0{padding-bottom:0;}
.PB30{padding-bottom:30px;}
.PL0{padding-left: 0;}
.PR0{padding-right: 0;}
.PLR40{padding:0 }

/*textarea禁止拖动*/
.resize-none{resize: none;}

/*display*/
.inline{display: inline;}
.table-cell{display: table-cell;}
.inline-block{display: inline-block;}
.block{display: block;}
.none{display: none;}
.visible{visibility: visible;}
.hidden{visibility: hidden;}

/*vertical-align*/
.v-top{vertical-align:top;}
.v-middle{vertical-align:middle;}
.v-bottom{vertical-align: bottom;}

/*鼠标形状*/
.hand{cursor: pointer; *cursor:hand;}


/*size*/
.H100{height: 100%;}
.W100{width:100%;}
.w-page{width:1190px;margin-right: auto;margin-left: auto; position:relative;}

/*float li*/
.sectionFloat{position:relative;}
.sectionFloat li,.sectionFloat .item{float:left;display: inline;}
.sectionFloat .R{float:right;}
.sectionFloat .N{float:none;}
/*clear float*/
.clearfix:before,
.clearfix:after{content: ".";display: block;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;width: 0;height: 0;}
.clearfix:after{clear: both;}
.clearfix {zoom:1;}
.clear{clear:both;display:block;overflow:hidden;visibility: hidden;width: 0;height:0;}
.clear-L,.clear-fl{clear: left;}
.clear-R,.clear-fr{clear: right;}
/*position*/
.p-rel{position: relative;}
.p-abs{position: absolute;}
.p-fixed{position: fixed;}

/*overflow*/
.over-h{overflow:hidden;}
.over-auto{overflow:auto;}
.over-x-h{overflow-x:hidden;}
.over-y-h{overflow-y:hidden;}

/*text*/
.sectionWord{word-break: break-all;word-wrap: break-word;white-space: pre-wrap;}
.text-idt15{text-indent: 15px;}
.text-idt25{text-indent: 25px;}

/*font style*/
.font-italic{font-style: italic!important;}
.font-normal{font-style: normal!important;}
.font-bold,.strong {font-weight:bold!important;}
.font-unline{text-decoration: underline!important;}
.font-unline-none{text-decoration: none!important;}


/*字体*/
.g-font{font-size: .875em;color: #363b3c;}
.g-font-s12{font-size: 12px;}
.g-font-s14{font-size: 14px;}
.g-font-s16{font-size: 16px;}
.g-font-s18{font-size: 18px;}
.g-font-s20{font-size: 20px;}
.g-font-s24{font-size: 24px;}
.g-font-color.red { color: var(--red); }
.g-font-color.green{color: #56b282;}
.g-font-color.purple{color: #a08eee;}
.g-font-color.orange { color: var(--orange); }
.g-font-color.yellow{color: #efbe49;}
.g-font-color.grey { color: var(--grey); }

/*文字链接颜色*/
.link-green,.link-green a:link,.link-green a:visited,.link-green:link,.link-green:visited{color:#009900 !important;}
.link-green a:hover.link-green:hover{color:#009900!important;}

/*通用图标*/
.g-icon{position: relative;}

.g-badge{
    display: inline-block;
    min-width: 25px;
    padding: 5px 7px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #525366;
    border-radius: 100%;
}

/*按钮*/
.g-btn{font-size:28px;padding: 5px 10px;cursor:pointer;display:inline-block;vertical-align: middle;border-radius:20px;border:none;outline:none;}
.g-btn-default{color:var(--text);background:var(--btn-primary);}
.g-btn-default:hover{color: #fff;background-color: #439269;}
.g-btn-lg{padding: 10px 16px;font-size:34px;line-height: 1.33;border-radius:25px;}
.g-btn-sm{padding:2px 15px 2px;font-size: 14px;line-height: 1.5;border-radius:25px;}
.g-btn.green{background:#56b282;}
.g-btn.red{background:#f06541;}
.g-btn.red:hover, .g-btn.red:focus{background:#CE5739;color:#fff;}
.g-btn.black{background:#525366;}
.g-btn.black:hover, .g-btn.black:focus{background:#3e3f4e;color:#fff;}
.g-btn.transparent{background:transparent;color: #56b282;border: 1px solid #56b282;}
.g-btn.transparent:hover,.g-btn.transparent:focus{border: 1px solid #56b282;background:#56b282;color:#fff;text-decoration: none;}


/*进度条*/
.progress{display: inline-block;width: 100%;height: 18px;overflow: hidden;background-color: #525366;border-radius: 20px;}
.progress-bar{display: inline-block;width: 0;height: 100%;font-size: 12px;line-height: 18px;color: #fff;text-align: center;background-color: #407e5f;vertical-align: top;}
.progress.grey{background: var(--progress-grey);}
.progress.block{display: block;}
.progress-bar.red{background: #e95252;}
.progress-bar.orange{background: #f39800;}
.progress-bar.purple{background: #a08eee;}

/*论文色值说明*/
.g-colorvalue .colorbox{width:10px;height:10px;margin-right:5px;display:inline-block}
.g-colorvalue .colorbox.red{background: #e95252;}
.g-colorvalue .colorbox.orange{background: #f06541;}
.g-colorvalue .colorbox.green{background: #56b282;}


/*分布图*/
.distribution{margin-right:10px;}
.distribution .distribution-map {width:12px;height:12px;margin-right:5px;display:inline-block;}
.distribution-map.red{background:#f16d86}
.distribution-map.yellow {background: #f39800;}
.distribution-map.orange {background: #f39800;}
.distribution-map.purple {background: #a08eee;}
.distribution-map.green {background:#86c281;}


.g-line-row{ background: var(--border); width: 100%; height: 1px; }

.border{border:1px solid #333;}

/*三角形*/
.g-arrow       {position: relative;}
.g-arrow-i {width: 0;height: 0;position: absolute;overflow: hidden;border-width: 5px;font-size:0;line-height: 0; margin: 0;}
.g-arrow-iup{border-style: dashed dashed solid; border-color:transparent transparent #b8b8b8;  }
.g-arrow-idown{border-style: solid dashed dashed; border-color: #b8b8b8 transparent transparent;bottom: -10px; }
.g-arrow-il {border-style: dashed solid dashed dashed; border-color:transparent #b8b8b8 transparent transparent;}
.g-arrow-ir {border-style: dashed dashed dashed solid; border-color:transparent transparent transparent #b8b8b8;}
