<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="assessment-body"></div>

<script type="text/html" id="assessment-template">
    <div class="row">
        <div class="basic-info">
            <div class="assessment-area">
                <h4>基本信息</h4>
                <ul class="papersource-list-group">
                    <li><span>检测版本</span>{{ version }}</li>
                    <li><span>论文题目</span>{{ title }}</li>
                    <li><span>论文作者</span>{{ author }}</li>
                    {{ if ['published', 'safeguard'].includes(checkType) }}<li><span>发表时间</span>{{ publishedYear }}</li>{{ /if }}
                    <li><span>论文字数</span>{{ contentLength }}</li>
                    <li><span>段落个数</span>{{ sectionCount }}</li>
                    <li><span>句子个数</span>{{ sentenceCount }}</li>
                    <li><span>提交时间</span>{{ uploadTime }}</li>
                </ul>
            </div>
            <div class="assessment-area reportNo">
                <b class="g-font-color green">检测报告编号：{{ ReportID.toUpperCase() }}</b>
                <a href="https://www.paperpass.com/check/{{ ReportID }}" target="_blank" class="g-btn g-btn-default g-btn-sm transparent">查询真伪</a>
            </div>
        </div>

        <div class="assessment-area similar {{ isPPEdu ? 'xyclass' : '' }}">
            <h4>查重结果</h4>
            <div class="first-level">
                <div class="similar-progress-group">
                    <span class="similar-type">总体相似度</span>
                    <span class="progress grey MR10">
                            <span class="progress-bar {{ $imports.scoreColor(totalScore) }}" style="width: {{ totalScore }}%"></span>
                        </span>
                    <span class="g-font-color {{ $imports.scoreColor(totalScore) }} percentage-span">{{ totalScore }}%</span>
                </div>
                {{ if !isPPEdu }}
                <div class="second-level">
                    <div class="similar-progress-group">
                        <span class="similar-type">本地库相似度</span>
                        <span class="progress grey MR10">
                                <span class="progress-bar {{ $imports.scoreColor(localScore) }}" style="width: {{ localScore }}%;"></span>
                            </span>
                        <span class="g-font-color {{ $imports.scoreColor(localScore) }} percentage-span">{{ localScore }}%</span>
                    </div>

                    {{ if reportSource == 'paperpass' && !['published', 'safeguard'].includes(checkType) }}
                    <div class="similar-progress-group">
                        <span class="similar-type {{ checkType == 'free' ? 'free' : '' }}">互联网相似度 {{ if checkType == 'free' }} <small>(免费版不检测互联网资源)</small> {{ /if }}</span>
                        {{ if checkType != 'free' }}
                        <span class="progress grey MR10">
                                <span class="progress-bar {{ $imports.scoreColor(netScore) }}" style="width: {{ netScore }}%;"></span>
                            </span>
                        <span class="g-font-color {{ $imports.scoreColor(netScore) }} percentage-span">{{ netScore }}%</span>
                        {{ /if }}
                    </div>
                    {{ /if }}
                </div>
                {{ /if }}
            </div>
            {{ if isPPEdu }}
            <div class="xy-check-range">
                <div class="title">检测范围：</div>
                <ul>
                    <li>中文科技期刊论文全文数据库</li>
                    <li>中文主要报纸全文数据库</li>
                    <li>中国专利特色数据库</li>
                    <li>博士/硕士学位论文全文数据库</li>
                    <li>中国主要会议论文特色数据库</li>
                    <li>港澳台文献资源</li>
                    <li>外文特色文献数据全库</li>
                    <li>优先出版论文全文数据库</li>
                    <li>互联网数据/文档资源</li>
                    <li>高校自建资源库</li>
                    <li>图书资源</li>
                    <li>古籍文献资源</li>
                    <li>年鉴资源</li>
                </ul>
            </div>
            {{ else }}
            <div class="library-range">
                <div class="title">
                    <h4>对比库范围</h4>
                    <span>【1949～2025】</span>
                    {{ if reportSource == 'paperpass' && checkType == 'free' }}
                    <img src="https://static-cdn.paperpass.com/images/full-version-banner.png" class="full-version">
                    <div class="popover">说明：<span>PaperPass免费版查重包含期刊和学位等数据库的全部年份（1949~2025），<br>部分友商免费版仅有近五年的数据，请大家认准PaperPass满血版免费查重！</span></div>
                    {{ /if }}
                </div>

                <ul class="{{ checkType == 'free' ? 'discfree' : 'disc' }}">
                    <li>学术联合库</li>
                    <li>期刊</li>
                    <li>学位论文(硕博库)</li>
                    <li>会议论文</li>
                    <li>共享联合库</li>
                    <li>书籍数据 {{ if checkType == 'free' }} <small>（免费版不检测书籍数据）</small> {{ /if }}</li>
                    <li>专利库 {{ if checkType == 'free' }} <small>（免费版不检测专利库）</small> {{ /if }}</li>
                    <li>报纸库 {{ if checkType == 'free' }} <small>（免费版不检测报纸库）</small> {{ /if }}</li>
                    <li>外文库 {{ if checkType == 'free' }} <small>（免费版不检测外文库）</small> {{ /if }}</li>
                    {{ if reportSource == 'paperpass'}}
                    {{if isSelfBuild }}<li>自建库</li>{{ /if }}
                    {{ if !['published', 'safeguard'].includes(checkType) && !isPPEdu }}<li>互联网资源 {{ if checkType == 'free' }} <small>（免费版不检测互联网）</small> {{ /if }}</li>{{ /if }}
                    {{ /if }}
                </ul>
            </div>
            {{ /if }}

            <h4 class="g-font-s16 g-font-color green MT30">相似度计算公式</h4>
            <b>（句子1相似度+句子2相似度+...+句子n相似度）/ n</b>
            <p><span class="MR10">句子相似度范围0.0~1.0 </span><span>绿色句子相似度按照0计算</span></p>
        </div>
    </div>

    <div class="assessment-area">
        <h4>句子信息</h4>
        <div class="minmax-sentence">
            <span>句子个数：{{ sentenceCount }}</span>
            <span>平均句长：{{ sentenceAveLength }}字</span>
            <span>最大句长：{{ sentenceMaxLength }}字</span>
            <span>最小句长：{{ sentenceMinLength }}字</span>
        </div>
        <div class="flex-between">
            <h4>句子相似度分布图</h4>
            <div class="flex distribution-tabs">
                <span class="red">≥60%</span>
                <span class="orange">40%-60%</span>
                <span class="green">&lt;40%</span>
            </div>
        </div>
        <div id="barChart"></div>
        <h4>不合格句子点状分布图</h4>
        <div id="scatterChart"></div>
    </div>

    <div class="assessment-area">
        <h4>{{ if isPPEdu }} 相似资源 {{ else }}
            本地库相似资源（学术联合库、期刊库、硕博学位库、会议库、共享联合库{{ checkType == 'free' ? '' : '、书籍数据、专利库、报纸库、外文库' }}{{ reportSource == 'paperpass' && isSelfBuild ? '、自建库' : '' }}）
            {{ /if }}
        </h4>
        {{ if sourceData.local.length > 0 }}
        <ul class="source-list decimal">
            {{ each sourceData.local item }}
            <li>
                <div class="item">
                    <span class="g-font-color percentage-span {{ $imports.scoreColor(item.score) }}">{{ item.score }}%</span>
                    <span class="progress grey MLR10">
                            <span class="progress-bar {{ $imports.scoreColor(item.score) }}" style="width: {{ item.score }}%;"></span>
                        </span>
                    <b>来源：</b>{{ item.source }}
                    {{ if !['大学生联合比对库', '共享联合库'].includes(item.articleType) }}
                    <b class="ML10">{{ item.articleType == '专利' ? '专利名称' : item.articleType == '报纸' ? '标题' : '篇名' }}：</b>{{ item.title }}
                    {{ /if }}
                </div>
            </li>
            {{ /each }}
        </ul>
        {{ else }}
        <div>没有找到与本地库相似度高的资源</div>
        {{ /if }}
    </div>

    {{ if reportSource == 'paperpass' && !['published', 'safeguard'].includes(checkType) && !isPPEdu }}
    <div class="assessment-area">
        <h4>互联网相似资源</h4>
        {{ if checkType == 'free' }}
        <div>免费版不检测互联网资源库</div>
        {{ else if sourceData.net.length > 0 }}
        <ul class="source-list decimal">
            {{ each sourceData.net item }}
            <li>
                <div class="item">
                    <span class="g-font-color percentage-span {{ $imports.scoreColor(item.score) }}">{{ item.score }}%</span>
                    <span class="progress grey MLR10">
                            <span class="progress-bar {{ $imports.scoreColor(item.score) }}" style="width: {{ item.score }}%;"></span>
                        </span>
                    <b>来源：</b>{{ item.source }}
                    <b class="ML10">标题：</b>{{ item.title }}<a href="{{ item.link }}" target="_blank" class="g-font-color green">查看网页</a>
                </div>
            </li>
            {{ /each }}
        </ul>
        {{ else}}
        <div>没有找到与互联网相似度高的资源</div>
        {{ /if }}
    </div>
    {{ /if }}

    {{ if reportSource == 'paperpass' && !isOrg }}
    <div class="assessment-area">
        <h4>如何识别假冒的检测报告？</h4>
        <ul class="disc">
            <li>比对库只有网络资源的均为假货，正品检测报告都是经过大数据量的本地库 （9000万篇学术期刊和学位论文）详细比对生成，检测结果有详细的期刊和学位论文出处。 假的检测报告用网络比对结果坑害消费者，导致其论文最终没有通过审核。</li>
            <li>不支持官网真伪验证（http://www.paperpass.com/check）的均为假货。</li>
            <li>请认准PaperPass这个名称，有的假冒检测报告用以Paper开头的其他名称迷惑消费者。</li>
        </ul>
    </div>
    {{ /if }}

    <div class="paper-footer">
        {{ if reportSource == 'paperpass' }}
        <p>检测报告由<a href="http://www.paperpass.com/" target="_black">PaperPass</a>文献相似度检测系统生成</p>
        <p>Copyright © 2007-{{ year }} PaperPass</p>
        {{ else }}
        <p>检测报告由<a href="http://www.jianziyuan.com/" target="_black">鉴字源</a>AIGC检测系统生成</p>
        <p>Copyright © {{ year }} 鉴字源</p>
        {{ /if }}
    </div>
</script>

<span style="display: none;">This__is__the__place__to__load__the__google__statistics__code.__The__offline__version__is__hidden,__but__the__online__version__will__have__it.</span>

<script src="https://static-cdn.paperpass.com/libs/echarts/echarts.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/templateweb.js"></script>
<script src="js/util.js"></script>
<script>
    var rewriteDegree = getParamValue(location.search, "degree");
    if (rewriteDegree) {
        document.write(`<script src="js/detaildata_${rewriteDegree}.js"><\/script><script src="js/texthtmldata_${rewriteDegree}.js"><\/script>`);
    } else {
        document.write(`<script src="js/detaildata.js"><\/script><script src="js/texthtmldata.js"><\/script>`);
    }
</script>
<script>
    const reportSource = typeof report_source == "string" ? report_source : 'paperpass';
    const checkType = typeof check_type == "string" && check_type;
    const isOrg = typeof is_org == "boolean" ? is_org : false;
    const isPPEdu = typeof is_pp_edu == "boolean" ? is_pp_edu : false;
    const publishedYear = typeof published_year == "number" ? published_year : 1998;
    let version = { free: '免费版', ultimate: isOrg ? '机构版' : '旗舰版', published: '职称版', safeguard: '维权版' }
    version = isPPEdu ? '校园版' : version[checkType];

    let sourceData = JSON.parse(JSON.stringify(similarResources));

    let templateData = { ReportID, reportSource, checkType, isPPEdu, isOrg, title, author, contentLength, sectionCount, sentenceCount, uploadTime, publishedYear, localScore, netScore, sentenceAveLength, sentenceMaxLength, sentenceMinLength, sourceData, isSelfBuild,
        totalScore: score,
        version: reportSource == 'jzy' ? (checkType.includes('org') ? '机构版(支持中文和外文)' : '个人版(支持中文和外文)') : (checkType == 'free' ? `${version}(仅检测中文)` : `${version}(支持中文和外文)`),
        year: uploadTime.split('-')[0],
    }
    let templateHtml = template('assessment-template', templateData);
    $(".assessment-body").html(templateHtml);

    if (reportSource == 'paperpass' && !isOrg && ['free', 'ultimate'].includes(checkType)) {
        AddXiaoMoAdImg('-com');
    }

    function scoreColor(score) {
        return score < 40 ? 'green' : score >= 60 ? 'red' : 'orange';
    }

    // charts
    let barChart = echarts.init(document.getElementById('barChart'));
    let scatterChart = echarts.init(document.getElementById('scatterChart'));
    let chartsData = detailJsonData.map((item) => { return Math.round(item.score * 100) / 100 });
    randerChartsMap({ barChart,  scatterChart, chartsData });

    window.addEventListener("resize", () => {
        barChart.resize();
        scatterChart.resize();
    })

    window.addEventListener("message", ({ data }) => {
        if (data.theme) {
            randerChartsMap({ barChart,  scatterChart, chartsData });
        }
    })
</script>
</body>
</html>